<div class="px-1" style="background-color: rgb(10, 1, 3); padding-bottom: 20px">
  <div class="logoBox py-2 px-4">
    <a
      aria-current="page"
      to="/"
      style="
        color: white;
        font-weight: 900;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
      "
      >Movie<span style="color: rgb(229, 9, 20); font-size: 29px">Mania</span
      >&nbsp;
    </a>
  </div>
  <div class="navigationBox">
    <nav class="navbar navbar-expand-lg" style="background-color: #191970">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="border: 2px solid black"
          (click)="collapseFunc()"
        >
          <i class="fas fa-bars" style="font-size: larger; color: white"></i>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarSupportedContent"
          [ngClass]="{ show: collapse }"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active linkTextStyle"
                aria-current="page"
                href="/"
                >Home</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle linkTextStyle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                🎞️ Web Series
              </a>
              <ul class="dropdown-menu">
                <a routerLink="/" class="anchorText">
                  <li
                    class="dropdown-item"
                    *ngFor="let item of webSeries"
                    (click)="filterMovie(item)"
                    (click)="collapseFunc()"
                  >
                    {{ item }}
                  </li>
                </a>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle linkTextStyle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                🎬 Movies
              </a>
              <ul class="dropdown-menu">
                <a routerLink="/" class="anchorText">
                  <li
                    class="dropdown-item"
                    *ngFor="let items of movies"
                    (click)="filterMovie(items)"
                    (click)="collapseFunc()"
                  >
                    {{ items }}
                  </li>
                </a>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle linkTextStyle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                🌐 Genre
              </a>
              <ul class="dropdown-menu">
                <a class="anchorText" routerLink="/">
                  <li
                    class="dropdown-item"
                    *ngFor="let item of genre"
                    (click)="filterMovie(item)"
                    (click)="collapseFunc()"
                  >
                    {{ item }}
                  </li>
                </a>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active linkTextStyle"
                aria-current="page"
                routerLink="/contactus"
                >Contact Us</a
              >
            </li>
          </ul>
          <form class="d-flex" role="search">
            <a routerLink="/login" class="anchorText" *ngIf="!isLogin">
              <button
                class="btn btn-primary"
                type="submit"
                style="background-color: inherit"
              >
                Upload Movies
              </button>
            </a>
            <a routerLink="/dashboard" class="anchorText" *ngIf="isLogin">
              <button
                class="btn btn-primary"
                type="submit"
                style="background-color: inherit"
              >
                Dashboard
              </button>
            </a>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <div class="searchBox">
    <input
      class="form-control searchInput me-2"
      type="search"
      placeholder="Search Movies or Web-Series"
      aria-label="Search"
      (keyup)="searchData($event)"
      style="background-color: inherit; color: white"
    />
  </div>
  <div class="categoryBox">
    <div class="container-fluid">
      <div class="row" style="gap: 1vw; justify-content: center">
        <div
          class="col col-sm-3 col-md-2 col-lg-1 btnStyle"
          *ngFor="let item of filters"
        >
          <a routerLink="/">
            <button type="button" class="btnclr" (click)="filterMovie(item)">
              {{ item }}
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
