<div class="footerContainer">
  <div class="row">
    <div
      class="col-12 col-md-6 col-lg-6 p1"
      style="display: flex; justify-content: center; text-align: center"
    >
      <a
        aria-current="page"
        to="/"
        style="
          color: white;
          font-weight: 900;
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;
        "
        >Movie<span style="color: rgb(229, 9, 20)">Mania</span>&nbsp;
        <span class="rightBorder"></span>&nbsp;<span
          class="p2"
          style="color: white; font-weight: 500; font-size: 0.85rem"
          >Copyright © 2022 movie-mania.com</span
        >
      </a>
    </div>
    <div
      class="col-12 col-md-6 col-lg-6 mt-4"
      style="display: flex; justify-content: center"
    >
      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noreferrer"
        class="fa fa-facebook"
        >&nbsp;</a
      >
      <a
        href="https://www.linkedin.com/in/ashishranjan1626"
        rel="noreferrer"
        target="_blank"
        class="fa fa-linkedin"
        >&nbsp;</a
      >
      <a
        href="https://www.youtube.com/channel/UCDEdv1iwWUhEi-MvUsZ8y4w"
        target="_blank"
        rel="noreferrer"
        class="fa fa-youtube"
        >&nbsp;</a
      >
      <a
        href="https://www.instagram.com/codewithaashu_/"
        rel="noreferrer"
        target="_blank"
        class="fa fa-instagram"
        >&nbsp;</a
      >
    </div>
  </div>
</div>
