<div class="informationBox mt-3">
  <div class="information-card" *ngFor="let information of informationArray">
    <div>
      <div class="information-text">{{ information.quantity ?? "NA" }}</div>
      <h6 class="text-muted">{{ information.title }}</h6>
    </div>
    <i
      class="{{ information.icon }}"
      style="font-size: 30px; padding-top: 20px"
    ></i>
  </div>
</div>
<div class="details-box">
  <div class="recent-movies-box">
    <div class="recent-movies-heading">
      <h5>Recent Movies</h5>
      <button class="btn btn-danger">
        <a routerLink="/movies" class="anchorText"> View All </a>
        <!-- View All -->
      </button>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-hover" style="--bs-table-bg: none">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Sub-Category</th>
            <th scope="col">Released Date</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
          <div class="spinnerContainer" *ngIf="moviesList === null">
            <div class="spinner-border text-danger" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <tr *ngFor="let movie of moviesList?.slice(0, 5)">
            <td>{{ movie.name.slice(0, 20) + "..." }}</td>
            <td>{{ movie.category }}</td>
            <td>{{ movie.subCategory }}</td>
            <td>{{ movie.releasedDate }}</td>
            <td>{{ movie.rating }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="recent-users-box">
    <h5>Recent Users</h5>
    <div class="user my-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSfb1QfWFmTatxiz6a81GeJk6Chr3MXmcHoRNUX1E&s"
        alt=""
        style="width: 35px; border-radius: 50%"
      />
      <div>
        <div style="font-size: 13px" class="text-info">Ashish</div>
        <div style="font-size: 11px">Indore,India</div>
      </div>
    </div>
    <div class="user my-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSfb1QfWFmTatxiz6a81GeJk6Chr3MXmcHoRNUX1E&s"
        alt=""
        style="width: 35px; border-radius: 50%"
      />
      <div>
        <div style="font-size: 13px" class="text-info">Ashish</div>
        <div style="font-size: 11px">Indore,India</div>
      </div>
    </div>
    <div class="user my-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSfb1QfWFmTatxiz6a81GeJk6Chr3MXmcHoRNUX1E&s"
        alt=""
        style="width: 35px; border-radius: 50%"
      />
      <div>
        <div style="font-size: 13px" class="text-info">Ashish</div>
        <div style="font-size: 11px">Indore,India</div>
      </div>
    </div>
    <div class="user my-3 table-responsive">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSfb1QfWFmTatxiz6a81GeJk6Chr3MXmcHoRNUX1E&s"
        alt=""
        style="width: 35px; border-radius: 50%"
      />
      <div>
        <div style="font-size: 13px" class="text-info">Ashish</div>
        <div style="font-size: 11px">Indore,India</div>
      </div>
    </div>
    <div class="user my-3">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSfb1QfWFmTatxiz6a81GeJk6Chr3MXmcHoRNUX1E&s"
        alt=""
        style="width: 35px; border-radius: 50%"
      />
      <div>
        <div style="font-size: 13px" class="text-info">Ashish</div>
        <div style="font-size: 11px">Indore,India</div>
      </div>
    </div>
  </div> -->
</div>
