<div class="mainContainer">
  <app-header (getMovie)="getMovieVal($event)"></app-header>
  <div class="container">
    <div class="row m-0">
      <div
        class="spinnerContainer col-sm-12 col-md-8 col-lg-8"
        *ngIf="movie === null"
      >
        <div class="spinner-border text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-8" *ngIf="movie !== null">
        <div class="header my-3">
          {{ movie.name }}
        </div>
        <div class="row" style="margin: 0px; gap: 5px">
          <a
            type="button"
            class="btn btn-secondary header_btn col-6 col-sm-6 col-md-3 col-lg-3"
            (click)="getMovieVal(movie.language)"
            routerLink="/"
          >
            📁{{ movie.language }}
          </a>

          <a
            type="button"
            class="btn btn-secondary header_btn col-6 col-sm-6 col-md-3 col-lg-3"
            let
            *ngFor="let item of movie.genre"
            (click)="getMovieVal(item)"
            routerLink="/"
          >
            📁{{ item }}
          </a>
          <a
            type="button"
            class="btn btn-secondary header_btn col-6 col-sm-6 col-md-3 col-lg-3"
            (click)="getMovieVal(movie.subCategory)"
            routerLink="/"
          >
            📁{{ movie.subCategory }}
          </a>
        </div>
        <div
          class="my-3"
          style="width: 100%; display: flex; justify-content: center"
        >
          <img src="{{ movie.posterImg }}" class="posterImg" />
        </div>
        <div class="info_head">MOVIE INFO</div>
        <div class="info">
          Name : &nbsp;
          <span>{{ movie.name }}</span
          ><br />
          <hr />
          Genre : &nbsp;
          <span style="color: rgb(230, 78, 104)">{{
            movie.genre.toString()
          }}</span
          ><br />
          <hr />
          Duration : &nbsp;<span style="color: yellowgreen">{{
            movie.duration
          }}</span
          ><br />
          <hr />
          Release Date : &nbsp;<span style="color: white">{{
            movie.releasedDate
          }}</span
          ><br />
          <hr />
          Language : &nbsp;<span>{{ movie.language }}</span
          ><br />
          <hr />
          Starcast : &nbsp;
          <span style="color: rgb(230, 78, 104)">{{ movie.starCast }}</span
          ><br />
          <hr />
          Quality : &nbsp;<span style="color: orange">{{ movie.quality }}</span>

          <h5 style="text-align: center; color: hotpink; font-size: 20px">
            Movie synopsis/PLOT
          </h5>
          <br />

          <p style="font-size: 14px">
            {{ movie.storyLine }}
          </p>
        </div>
        <div class="screenshot">SCREENSHOT</div>
        <div
          style="width: 100%; display: flex; justify-content: center"
          class="my-2"
        >
          <img src="{{ movie.screenshot }}" class="posterImg" />
        </div>
        <div class="screenshot">DOWNLOAD THIS MOVIE</div>
        <div
          class="row my-4"
          style="margin: 0px; gap: 10px; justify-content: center"
        >
          <button
            type="button"
            class="btn btn-secondary col-12 col-md-6 col-lg-6 downloadBtn"
            *ngFor="let navLink of movie.downloadingLink; let i = index"
          >
            <a href="{{ navLink }}" target="_blank" class="anchorText">
              DOWNLOAD NOW [{{ movie.quality[i] }}]
            </a>
          </button>
        </div>
        <app-comment [_id]="params"></app-comment>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 my-3">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-secondary"
            style="background-color: #2f2d2d"
          >
            <span
              style="
                margin-right: 260px;
                color: white;
                font-size: 18px;
                padding: 12px;
              "
              >SHARE</span
            >
          </button>
        </div>

        <div class="px-3 my-3 shareBox">
          <a
            type="button"
            class="btn btn-secondary social_btn"
            style="color: #22b8ff"
            href="https://www.twitter.com?text={{ location }}"
            target="_blank"
          >
            <i class="fa fa-twitter"></i>
            &nbsp; Twitter
          </a>
          <a
            type="button"
            class="btn btn-secondary social_btn"
            href="https://www.facebook.com?text={{ location }}"
            target="_blank"
            style="color: #6183f3"
          >
            <i class="fa fa-facebook"></i>
            &nbsp; Facebook
          </a>
          <a
            type="button"
            class="btn btn-secondary social_btn"
            style="color: #ff6d82"
            href="mailto:?subject={{ location }}"
            target="_blank"
          >
            <i class="fa fa-envelope"></i>
            &nbsp; Email
          </a>
          <a
            type="button"
            class="btn btn-secondary social_btn"
            style="color: #10d245"
            href="https://api.whatsapp.com?text={{ location }}"
            target="_blank"
          >
            <i class="fa fa-whatsapp"></i>
            &nbsp; Whatsapp
          </a>
          <a
            type="button"
            class="btn btn-secondary social_btn"
            style="color: #0077b3"
            href="https://telegram.me?text={{ location }}"
            target="_blank"
          >
            <i class="fa fa-telegram"></i>
            &nbsp; Telegram
          </a>
          <a
            type="button"
            class="btn btn-secondary social_btn"
            href="https://instagram.com?text={{ location }}"
            target="_blank"
            style="color: #ea4158"
          >
            <i class="fa fa-instagram"></i>
            &nbsp; Instagram
          </a>
        </div>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-secondary"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="background-color: #2f2d2d"
          >
            <span
              style="
                margin-right: 180px;
                color: white;
                font-size: 18px;
                padding: 12px;
              "
              >RECENT MOVIES</span
            >
          </button>
        </div>
        <div class="recent-movie-box">
          <div class="recent-movie" *ngFor="let movie of recentMoviesList">
            <div class="recent-movie-img">
              <img
                src="{{ movie.posterImg }}"
                alt=""
                width="95px"
                height="110px"
              />
            </div>
            <div class="recent-movie-content">
              <div class="recent-movie-heading">
                {{ movie.name }}
              </div>
              <div class="recent-movies-category">{{ movie.category }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer *ngIf="movie !== null"></app-footer>
</div>
